body{
    padding: 0;
    margin: 0;
}

.wraper{
    min-height: 600px;
    width: 400px;
    transition: 0.5s;
}
.wraper:hover{
    transition: 0.5s;
    transform: translateY(-10px);
    box-shadow: 1px 2px 3px 4px rgba(127, 127, 127, 0.32);
}

.wraper img{
    width: 400px;
    height: 230px;
}

.img{
    width: 400px;
    background-color: white;

}

.inner {
    text-align: left;
    padding: 5px 20px 50px 50px;
    background-color: white;
    height: 400px;
}

.inner h1{
    padding-top: 34px;
    font-size: 21px;
}
.inner p{
    font-size: 15px;
    line-height: 22px;
}
.button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.button a:hover{
    cursor: pointer;
    color: #56bdbd
}

.element{
    padding-left: 20px;
}
