.wraper{
    min-height: 100vh;
    /*background-color: rgba(62, 62, 62, 0.07);*/
    text-align: center;
    background-color:  #f3f3f3
}
.wraper h1{
    font-family: 'Baloo Chettan 2', cursive;
    margin: 0;
    padding-top: 80px;
}
.wraper  p{
    font-family: 'Baloo Chettan 2', cursive;
}
.inner{
    padding: 60px 40px 20px;
    display: flex;
    justify-content: space-between;
}
.innerTwo{
    padding: 0px 40px 60px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 860px) {
    .inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .innerTwo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
