.wraper{
    height: 288px;
    width: 600px;
    margin: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 6px 4px #888;
    /*background-size: cover;*/
    /*background-position: center;*/
}




