.wraper{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color:  #f3f3f3;
    border-bottom: 1px black solid;
}
.title{
    display: flex;
}
.title h2{
    font-family: 'Baloo Chettan 2', cursive;
    margin: 0;
    padding: 0;
}

.line{
    width: 100px;
    border-top: 2px black solid;
    margin: 25px 20px 0 0;
}

.img{
    margin-right: 68px;
    margin-left: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img img{
    max-width: 300px;
    max-height: 400px;
}

.img h5,h6{
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.51);
}
.decription{
    font-family: 'Baloo Chettan 2', cursive;
    margin-top: 10px;
}