
*,
*:before,
*:after{
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*header*/
.header{
    padding-top: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    margin-left: 14px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}
/*nav*/
.nav{
    /*font-size: 25px;*/
    text-transform: uppercase;
}
.nav a{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s linear;
    position: relative;
    opacity: 85%;
}


.nav__link:hover{
    opacity: 100%;
}

.nav__link:hover:after {
    display: block;
}

@media screen and (max-width: 660px){
  .nav{
      display: none;
  }
}

@media screen and (max-width: 660px){
   .header__logo{
       display: none;
   }
}

